<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <style type="text/css" rel="stylesheet">
      .auth {
        border: 2px dotted black;
      }
    </style>
  </head>
  <body>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel hendrerit mauris. In in ex non purus interdum feugiat. In fringilla finibus urna in pulvinar. Suspendisse euismod, quam vehicula vulputate posuere, ante arcu finibus risus, non luctus velit felis a turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla est. Pellentesque suscipit neque a fringilla suscipit. Integer sagittis id est et mollis. Nam feugiat augue id enim scelerisque suscipit in eu odio. Morbi vitae elit sed massa cursus scelerisque ac ac turpis.</p>
    <!-- Login, logout information -->
    <div class="auth">
    {% if user.is_authenticated %}
      <p>Hello, <strong>{{ user.username }}</strong></p>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <p>Please login or Signup</p>
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
    {%  endif %}
    </div>
  </body>
</html>
